### Notebook to generate participant ids and populate `mr_proc_manifest.csv` for nimhans PD-YLO dataset

In [2]:
import pandas as pd
import numpy as np
import glob
import pydicom
import os
from pathlib import Path
import shutil

In [17]:
dataset_root = "/home/nikhil/projects/NIMHANS/data/PD_YLO/"
raw_dicom_dir = f"{dataset_root}downloads/YLOPD/YLOPD_49/"
dicom_dir = f"{dataset_root}dicom/"
mr_proc_manifest = f"{dataset_root}/tabular/demographics/mr_proc_manifest.csv"

In [21]:
manifest_df = pd.read_csv(mr_proc_manifest)

participants = manifest_df["participant_id"].values
n_participants = len(participants)

participant_dicom_dirs = os.listdir(f"{dataset_root}/dicom/")
n_participant_dicom_dirs = len(participant_dicom_dirs)

dicom_reorg_participants = set(participants) - set(participant_dicom_dirs)
n_dicom_reorg_participants = len(dicom_reorg_participants)

print(f"n_particitpants: {n_participants} \
    n_particitpant_dicom_dirs: {n_participant_dicom_dirs} \
    dicom_reorg_participants: {n_dicom_reorg_participants}")
manifest_df

n_particitpants: 2     n_particitpant_dicom_dirs: 10     dicom_reorg_participants: 2

,participant_id,age,sex,group,bids_id,dicom_id
0,YLOPD_49,NaN,NaN,NaN,sub-sub-sub-sub-sub-sub-sub-sub-sub-YLOPD49,YLOPD49
1,YLOPD_50,NaN,NaN,NaN,sub-sub-sub-sub-sub-sub-sub-sub-sub-YLOPD50,YLOPD50

### Sample dicom info

In [8]:
src_fpath = "/home/nikhil/projects/NIMHANS/data/PD_YLO/scratch/raw_dicom/YLOPD_49/22111703/37360001/79492935"
dcm_info = pydicom.dcmread(src_fpath)

In [22]:
manifest_df["a"] = "sub-" + manifest_df["participant_id"].astype(str)
manifest_df

,participant_id,age,sex,group,bids_id,dicom_id,a
0,YLOPD_49,NaN,NaN,NaN,sub-sub-sub-sub-sub-sub-sub-sub-sub-YLOPD49,YLOPD49,sub-YLOPD_49
1,YLOPD_50,NaN,NaN,NaN,sub-sub-sub-sub-sub-sub-sub-sub-sub-YLOPD50,YLOPD50,sub-YLOPD_50